*{
    margin: 0;
    padding: 0;
    background-color: #292929;
    color: azure;
}

a{
    text-decoration: none;
    color: white;
    background-color: #383838;
    font-style: normal;
}

.nav ul{
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    background-color: #383838;
}

.nav li{
    margin-left: 10px;
    text-decoration: none;
}

.nav{
    background-color: #383838;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    height: 50px;
    width: 100%;
    position: relative;
    text-align: end;
    margin-left: auto;
    vertical-align: middle;
}

.titulo{
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.texto{
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px 0px 0px 10px;
}

.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-wave{
    color: black;
    padding: 5px;
    margin: 5px 0px 0px 5px;
    border-style: none;
    border-radius:5px;
    background-color: white;
    width: 50%;
}

.mt-10{
    margin-top: 10px;
}